{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <main class="loginForm container-md">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1>Inscrivez-vous :</h1>

        {{ include('registration/_form.html.twig') }}

    </main>


{% endblock %}
