{% extends 'base.html.twig' %}

{% block title %}Mettre à jour une certification{% endblock %}

{% block body %}
    <main class="candidatForm container-md">
        <h1>Mettre à jour une certification </h1>

        {{ include('certification/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-primary" href="{{ path('app_certification_index') }}">Retour à la liste des certifications</a>
        </div>



    </main>
{% endblock %}
