<h1>Bienvenue chez Externatic !</h1>

<p>Pour créer ton mot de passe clic sur le lien ci dessous :</p>

<a href="{{ url('app_consultant_verify', {token: resetToken.token}) }}">{{ url('app_consultant_verify', {token: resetToken.token}) }}</a>

<p>Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Cheers!</p>
