{% extends 'base.html.twig' %}

{% block title %}Ajout d'un consultant{% endblock %}

{% block body %}

    <main class="loginForm container-md">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1>Ajoutez un consultant</h1>

        {{ include('admin/consultant/_form.html.twig') }}

    </main>


{% endblock %}
