<div class="form-annonce">

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn">{{ button_label|default('Mettre l\'annonce en ligne') }}</button>
    {{ form_end(form) }}
</div>
