<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New program</title>
</head>
<body>
<h1>Une Nouvelle Techno a été créée</h1>
<p>
    Une nouvelles techno <a href="{{ url('admin_app_techno_index') }}">"{{ techno.name }}"</a> de
    vient d'être créée. <br>
    cliquez sur ce lien pour y accéder : <a href="{{ url('admin_app_techno_edit', {'id': techno.id}) }}">{{ techno.name }}</a>.
</p>
</body>
</html>
