{% extends 'base.html.twig' %}

{% block title %}Externatic{% endblock %}

{% block body %}
    <header class="container">
        {{ render(controller('App\\Controller\\SearchBarController::searchBar')) }}
    </header>
<main class="search">
<div class="row row-cols-xl-3 row-cols-md-2">
    {% for annonce in fetchedAnnonces %}
        <div class="col mt-4 cards-result">
            {%  include '_include/_card_result.html.twig' %}
        </div>
    {% endfor %}
    <div>
</main>
{% endblock %}
