{% extends 'base.html.twig' %}



{% block body %}
    <header class="container">
        {{ render(controller('App\\Controller\\SearchBarController::searchBar')) }}
    </header>
    <main class="search" {{ stimulus_controller('favoriteoffer') }}>
        <div class="row row-cols-xl-3 row-cols-md-2">
            {% for annonce in paginatedAnnonces %}
                <div class="col mt-4 cards-result">
                    {% include '_include/_card_result.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class="conainer d-flex justify-content-center">{{ knp_pagination_render(paginatedAnnonces) }}</div>
    </main>
{% endblock %}
