{% extends 'base.html.twig' %}

{% block title %}Externatic - Edition Entreprise{% endblock %}

{% block body %}

    <main class="container-md">
        <h1 class="text-center">Editer une entreprise</h1>


            {{ include('admin/company/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" href="{{ path('admin_app_company_index') }}">back to list</a>
        </div>

    </main>

{% endblock %}
