{% extends 'base.html.twig' %}

{% block title %}Nouvelle entreprise{% endblock %}

{% block body %}

    <main class="candidatForm container-md">
        <h1>Ajouter une nouvelle entreprise</h1>

        {{ include('admin/company/_form.html.twig') }}

    </main>


{% endblock %}
