{% extends 'base.html.twig' %}

{% block title %}Modifier le langage{% endblock %}

{% block body %}
    <main class="candidatForm container-md">
        <h1>Modifier le langage</h1>

        {{ include('language/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-primary" href="{{ path('app_candidat_profile') }}#languagesPanel">Retour à la liste des
                languages</a>
        </div>


    </main>
{% endblock %}
