{% extends 'base.html.twig' %}

{% block title %}Nouveau Langage{% endblock %}

{% block body %}

    <main class="candidatForm container-md">
        <h1>Ajouter un nouveau Langage</h1>

        {{ include('language/_form.html.twig') }}

        <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-primary" href="{{ path('app_candidat_profile') }}#languagesPanel">Retour à la liste des
                compétences</a>
        </div>
    </main>
{% endblock %}
