{% extends 'base.html.twig' %}

{% block title %}Modifier le Hobby{% endblock %}

{% block body %}
    <main class="candidatForm container-md">
        <h1>Modifier le Hobby</h1>

        {{ include('hobbie/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-primary" href="{{ path('app_candidat_profile') }}#hobbiesPanel">Retour à la liste des
                hobbies</a>
        </div>

    </main>
{% endblock %}
