{% extends 'base.html.twig' %}

{% block title %}New Hobby{% endblock %}

{% block body %}
<main class="candidatForm container-md">
    <h1>Ajouter un hobby</h1>

    {{ include('hobbie/_form.html.twig') }}

    <div class="d-flex justify-content-center mt-3">
        <a class="btn btn-primary" href="{{ path('app_candidat_profile') }}#hobbiesPanel">Retour à la liste des compétences</a>
    </div>
</main>
{% endblock %}
