{% extends 'base.html.twig' %}

{% block title %}Edit RecruitmentProcess{% endblock %}

{% block body %}
    <h1>Edit RecruitmentProcess</h1>

    {{ include('recruitment_process/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_recruitment_process_index') }}">back to list</a>

    {{ include('recruitment_process/_delete_form.html.twig') }}
{% endblock %}
