{% extends 'base.html.twig' %}
{% block title %}Processus de Recrutement{% endblock %}
{% block body %}
    <main class="consultantProcesses container">
        <h1>Processus de recrutement de {{ recruitmentProcess.candidat.user.firstname }} </h1>
    </main>
{% endblock %}

