<footer class="footer text-start">
    <div class="all">
        <div class="text-1">
            <h3>A propos</h3>
            <p>
                Externatic, cabinet de recrutement informatique
                Externatic est un cabinet dédié au recrutement de
                profils d’experts, ingénieurs et managers dans le domaine
                de l’informatique
            </p>
        </div>
        <div>
            <h3>Contact</h3>
            <p>Tél. +33 (0)2 85 52 26 33</p>
            <p>Mail : contact@externatic.fr</p>
            <p>Adresse : 1 rue Racine 44000 NANTES</p>
        </div>
        <div class="informations">
            <h3>Informations</h3>
            <ul>
                <li>Fiches métiers</li>
                <li>Mentions légales </li>
                <li>Politique de confidentialité</li>
                <li>Politique de cookies </li>
                <li>Plan du site</li>
            </ul>
        </div>
        <div class="social-media">
            <h3>Réseaux Sociaux</h3>
            <a href="https://www.instagram.com/externatic/"><img src="{{ asset('build/images/instagram_white.png') }}"></a>
            <a href="https://www.linkedin.com/company/externatic/"><img src="{{ asset('build/images/linkedin_white.png') }}"></a>
            <a href="https://twitter.com/Externatic"><img src="{{ asset('build/images/twitter_white.png') }}"></a>
        </div>
    </div>
    <div class="link1">
        © 2020 Copyright:
        <a href="https://www.externatic.fr/">Externatic © 2022 - Tous droits réservés</a>
    </div>

</footer>
