{% extends 'base.html.twig' %}

{% block title %}Hello CalendarLinkController!{% endblock %}

{% block body %}

<div>
    <a href="{{ googleLink }}" target="_blank">Google</a>
    <a href="{{ outlookLink }}"target="_blank">Outlook</a>
    <a href="{{ icsLink }}"target="_blank">Ics</a>
</div>
{% endblock %}
