{% extends 'base.html.twig' %}

{% block title %}Hello CalendarLinkController!{% endblock %}

{% block body %}

<div>
    <a href="{{ googleLink }}" target="_blank"><button class="btn btn-primary">Google</button></a>
    <a href="{{ outlookLink }}"target="_blank"><button class="btn btn-primary">Outlook</button></a>
    <a href="{{ icsLink }}"target="_blank"><button class="btn btn-primary">Ics</button></a>
</div>
{% endblock %}
