<h1>Bonjour !</h1>

<p> Un utilisateur vient de demander la suppression de ces données. Voici ses informations :</p>

<ul>
    <li>Id :{{ user.id }}</li>
    <li>Email :{{ user.email }}</li>
    <li>Prénom : {{ user.firstname }}</li>
    <li>Nom : {{ user.lastName }}</li>

</ul>

