{% extends 'base.html.twig' %}

{% block title %}Nouveau SoftSkill{% endblock %}

{% block body %}

    <main class="candidatForm container-md">
        <h1>Ajouter un nouveau Soft Skill</h1>

        {{ include('soft_skill/_form.html.twig') }}

        <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-primary" href="{{ path('app_candidat_profile') }}#skillsPanel">Retour à la liste des compétences</a>
        </div>
    </main>
{% endblock %}
