.adminIndex {
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    form {
        display: flex;
        align-items: center;
    }
    .addBtn {
        display: flex;
        justify-content: center;
    }

    .deleteForm {
        display: inline;
    }
}

.table {
    img {
        max-height: 100px;
        max-width: 10rem;
        object-fit: contain;
        display: block;
        margin: auto;
    }
}
