.candidatForm {
    margin-top: 2rem;
    h1 {
        text-align: center;
    }
    form {
        margin: auto;
    }
    button {
        display: block;
        margin: auto;
    }
    textarea[id] {
        height: 150px;
    }
    label.required::after {
        content: "*";
        position : relative;
        top: -4px;
        left: 1px;
        color: $primary;
    }
}
