.candidatProfile {
    .candidatInfos, .candidatCurriculum {
        .buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
        }
    }
}

.candidatProfile, .carou.showCard, .certification.showCard {
    .cardIcons {
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        align-items: center;
        gap: 1rem;
        i {
            font-size: 1.4rem;
            color: $primary;
        }
    }
}

.arrow {
    color: grey;
    font-size: 5rem;
    display: flex;
    align-items: center;
    height: 100%;
}

.carou.showCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    .cardIcons {
        gap: 0;
    }
    .arrowLink {
        align-self: center
    }
    @media screen and (min-width: 576px) {
        flex-direction: row;
        justify-content: center;
        .card {
            min-width: 500px;
            max-width:700px;
        }
    }
}

.showCard.skills, .showCard.languages, .showCard.hobbies {
    form {
        display: inline;
        button {
            padding:0;
        }
    }
    span {
        font-size: 0.9rem;
    }
}

.showCard.languages {
    .list-group-item {
        display: flex;
        justify-content: flex-end;
        span {
            font-size: 1rem;
            flex: 1;
        }
    }
}





