.candidatProfile {
    .candidatInfos, .candidatCurriculum {
        display: grid;
        gap: 1rem;
        @media screen and (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            align-items: start;
        }
        .buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
        }
    }

    .cardIcons {
        font-size: 1.5rem;
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        gap: 1rem;

    }
}



.arrow {
    color: grey;
    font-size: 5rem;
    display: flex;
    align-items: center;
    height: 100%;
}

.carou.showCard {
    display: flex;
    justify-content: center;
}


