.cards-result{
    .cardResult{
        background-color: #f3f3f3;
        position: relative;
    }
    img{
        height: 5.75rem;
        width: 5.75rem;
        object-fit: contain;
        margin-left: 1.5%;
    }
    h3{
        font-size: 1rem;
    }
    .row-cols-2 > *{
        width: 47% !important;
        margin-right: 1.5%;
        margin-left: 1.5%;
    }
    .annonceInfos{
        font-style: italic;
        color:$gray-600;
    }
    .fav-icon{
        width: 1rem;
        margin-left: 4.75rem;
        margin-right: 1.5%;
        text-align: right;
    }

    .third-line{
        height: 3.5rem;
    }
    .clickable-article {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .fav-offer {
        z-index: 10;
    }
    .cases p{
        background-color: #FAE8EF;
        color: $primary;
        text-transform: capitalize;
    }
    .cardHeader{
        height: 7.5rem;
    }
}
