.consultantProcessShow {

    .rating > i {
        color: $primary;
        cursor: pointer;
        font-size: 2em;

        &:hover {
            text-shadow: 0 0 .5rem black;
        }
    }

    h3 > span {
        color: $primary;
    }

    dialog {
        width: clamp(40rem, 55vh, 70rem);

        ul {
            list-style: none;
            text-decoration: none;
        }

        #appointment_length {
            display: flex;

            .col-auto {
                display: flex;
                flex-direction: row;

                label {
                    font-style: italic;
                    color: $secondary;
                    min-width: 4.5rem;
                    margin-left: 1rem;
                }

                select {
                    height: 2.5rem;
                }

            }
        }
    }

    #rdvAndMessages {
        gap: 2rem;
        margin-bottom: $spacer *2;
        margin-top: $spacer *2;
    }


    .contactCard, .descriptionCandidat {
        margin: $spacer;
        border-radius: 24px;
        background: #ffffff;
        box-shadow: 5px -5px 13px #bababa,
        -5px 5px 13px #ffffff;
        padding: 1em;
        margin-top: 1em;

        .contacts {
            display:grid;
            grid-template-columns: 2rem 1fr;
        }

        img {
            height: 1.5rem;
            margin-right: .5rem;
            vertical-align: super;
        }
    }


    section:not(.notes) {

        border-radius: $border-radius * 3;
        background: #ffffff;
        box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
        padding: $spacer;
        margin-bottom: $spacer *2;
        min-width: initial;
        width:100%;


        &#appointments {
            overflow-y: scroll;
            @include scrollBar;

            .rdvList {
                display: grid;
                gap: 1rem;
                grid-template-columns: repeat( auto-fit, minmax(15rem, 1fr) );
            }

            .rdv {
                border-radius: 24px;
                background: #ffffff;
                box-shadow: 5px -5px 13px #bababa,
                -5px 5px 13px #ffffff;
                padding: 1em;
                margin-top: 1em;

                &.only {
                    max-width:50%;
                }

            }

            .boutton {
                justify-content: space-around;
            }
        }

        .showMessages {
            max-height: 90%;
            overflow-y: scroll;
            padding: 1rem;

            > .response {
                border-radius: 5px;
                margin-bottom: 10px;
                padding: .5em;
                border: 1px solid $primary;
                box-shadow: 5px 5px 13px #bababa,
                -5px -5px 13px #ffffff;
            }

            @include scrollBar;
        }


        &#annonceorCompanySection {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-gap: $spacer;
            width: 100%;

            p.description {
                max-height: 6rem;
                overflow-y: scroll;
                @include scrollBar;

            }

            img {
                height: 80%;
                margin: 0 auto;
            }

        }

        &#techComp {
            li {
                display:grid;
                grid-template-columns: 2rem 1fr;
                img {
                    height: 1.5rem;
                    margin-right: .5rem;
                    vertical-align: super;
                }
            }
        }

    }

}

