.consultantBoard {
    section {
        margin-top: 2rem;
        height: 30vh;
        overflow-y: scroll;
        box-shadow:  20px 20px 34px #bebebe,
        -20px -20px 34px #ffffff;
        padding: $spacer;
        border-radius: $border-radius;
        border:1px solid $primary;

        h2 {
            text-align: center;
        }

        &.messages {
            a {
                text-decoration: none;
                color: initial;
            }
            tr {
                height: 2rem;

                &.messageHeader {
                    cursor: pointer;
                    .messageContent {
                        max-width: 1rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        a {
                            text-decoration: none;
                            color: inherit;
                        }
                        * {
                            display:inline;
                            margin:0;
                        }

                    }
                }
            }
        }

        table {
            max-width: 100%;
        }

        &.recruitProssList {
            a {
                text-decoration: none;
                color: initial;
            }

            img {
                height: 1rem;
            }
        }

        @include scrollBar;
    }
}


