.consultantAnnonces {
    form {
        .input-group {
            height:2.5rem;
        }
    }

    div.sorting {
        margin-left: $spacer;
        p{
            display:inline-block;
            margin-right: .5rem;}
    }
    article {
        box-shadow:  7px 7px 14px #cacaca,
        -7px -7px 14px #f6f6f6;
        border-radius: 15px;
        img {
            height:2rem;
        }
        .accordion-header{
            background-color: #FAE8EF;
            border-radius: 1rem;
        }
        padding-bottom:0;

        .rating > i {
            color : $primary;
            cursor:pointer;
            &:hover {
                text-shadow: 0 0 .5rem black
            }
        }
    }
}
