.form-annonce{
    margin:calc($space1)*5 auto;
    color:$primary;
    background-color:rgb(201, 25, 97, 0.2);
    padding: $space1;
    border-radius: calc($space1)*2;
    width:45em;
div.btn{
    display: flex;
    justify-content: center;
}

.btn{
    background-color: white;
    border-radius: calc($space1)*2;
    color: $primary;
}
}

.annonce-title{
    margin: 5rem auto 0;
    padding-top: calc($space1)*5;
    color: $primary;
    text-decoration: underline;
}
