.form-annonce{
    margin:5rem auto;
    color:$primary;
    background-color:rgb(201, 25, 97, 0.2);
    padding: 1rem;
    border-radius:2rem;
    width:45em;
div.btn{
    display: flex;
    justify-content: center;
}

.btn{
    background-color: white;
    border-radius: 2rem;
    color: $primary;
}
}

.annonce-title{
    margin: 5rem auto 0;
    padding-top: 5rem;
    color: $primary;
    text-decoration: underline;
}
