body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    @include scrollBar;
}
::-moz-selection { /* Code for Firefox */
    background: #fcc6dd;
    color: #343434;
}
::selection {
    background: #fcc6dd;
    color: #343434;
}

