main.landing {

    div.research {
        background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/assets/images/landing.webp") ;
        background-position: center;
        background-size: cover;
        min-height: 50vh;
        @include media-breakpoint-up(lg) {
            min-height: 75vh;
        }
        button{
            background-color: #FAE8EF;
            color: $primary;
        }
        form{
            color: $light;
        }
    }

    article.services {
        color:$light;
        div.card-body {
            background-image: url("/assets/images/cardslanding.jpg");
            background-position: center;
            background-size: cover;
            border-radius: 15px;
            overflow: hidden;
            font-weight: bold;
        }

        div.cardHeaderServices {
            height: 3.4375rem;
        }

        div {
            max-width: 18rem;
            @include media-breakpoint-up(xl) {
                max-width: 23rem;
                height: 15rem;
            }
        }
    }



    article.cardResult {
        &:nth-last-child(1){
            @include media-breakpoint-up(md) {
                display:none;
            }
            @include media-breakpoint-up(xl) {
                display:initial;
            }
        }
        width: 100%;
        height: 18.5rem;
        border-radius: 15px;
    }

    .desc-number {
        img {
            height: 3rem;
            width: 3rem;
            @include media-breakpoint-up(md) {
                width: 5rem;
                height: 5rem;
            }
        }
        h3{
            font-size: 1rem;
            @include media-breakpoint-up(sm) {
                font-size: 1.2rem;
            }
            @include media-breakpoint-up(md) {
                font-size: 1.7rem;
            }
            .span{
                font-weight: bold;
            }
        }
    }
    .landing-article{
        .card{
            box-shadow: 20px 20px 60px #bebebe,
            -20px -20px 60px #ffffff;
            .card-title {
                font-variant-caps: small-caps;
            }
        }
    }
    .card-info{
        background-color: $primary;
        color: white;
    }
}

