nav.navbar {
    height: $navbarHeight;
}

nav.navbar {
    a {
        color: $light;
        text-transform: uppercase;
        font-size: $navTextHeight;
        font-weight: bold;

        &.connexion {
            color: $primary;
        }

        &:hover {
            color: $secondary;
        }
    }

    .logo {
        height: $navbarHeight - 2rem;
        @include media-breakpoint-up(md){
            height: $navbarHeight - 0.5rem;
        }
    }
}

.blank {
    margin-top: $navbarHeight;
}
