nav.navbar {
    height: $navbarHeight;
}
nav.navbar {
    a {
        color: $light;
        text-transform: uppercase;
        font-size: $navTextHeight;
        font-weight: bold;

        &.userName {
            color:black;
            text-decoration: none;
        }

        &.connexion {
            color: $primary;
        }

        &:hover {
            color: $secondary;
        }
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: $navbarHeight - 2rem;
        @include media-breakpoint-up(md){
            height: $navbarHeight - 0.5rem;
        }
    }

    .navPannel {
        width:$navBarWidth;
    }

    .bi-bell{
        font-size: 1.3rem;
    }
    .dot{
        height: 8px;
        width: 8px;
        background-color: $primary;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        right: 12px;
        top: 3px;
    }
    .bell-href{
        text-decoration: none;
    }

    ul.subGroup {
        list-style: none;
        text-decoration: none;
    }
    .active {
        padding: .5rem;
        background-color: $light;

    }
}

.blank {
    margin-top: $navbarHeight;
}

