.request, .confirmation, .resetForm {
    padding: 2rem 10%;

    h1 {
        text-align: center;
    }

    .formButtons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
    .btn.back {
        border: 2px solid $primary;
    }

    .confirmIcon {
        display: flex;
    }

    i {
        font-size: xxx-large;
        color: $primary;
        margin: auto;
    }

}
