.showCard {
    p {
        margin: 0;
    }
    .card {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
    .list-group-item p:first-of-type {
        font-weight: bold;
    }
    .list-group-item p:last-of-type {
        text-align: right;
   }
    .list-group-item.description {
            p:first-of-type {
                text-align: center;
            }
        p:last-of-type {
            text-align: left;
        }
    }
    .link a {
        margin: auto;
    }
    .deleteForm {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .badge.text-bg-light {
        border: 1px solid $primary;
    }
}
.company.card {
    .companyInfos {
        height: 10rem;
        overflow-y: scroll;
        @include scrollBar;
    }
}


.showCard.unique {
    max-width: 600px;
    margin: auto;
}

.oups {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-size: 2rem;
    }
}
