.show_annonce {
    position: relative;

    .postele {
        text-align: center;
        font-size: small;
        font-style: italic;
    }

    h1 {
        text-align: center;
    }

    .name_company {
        margin-left: 10rem;

        &:hover {
            text-decoration: underline;
        }
    }

    .image_techno {
        height: 1.5rem;
        width: 1.5rem;
        object-fit: contain;
        @include media-breakpoint-up(sm) {
            height: 2rem;
            width: 2rem;
        }
    }

    ul {
        list-style-type: none;
    }

    .tech {
        border-radius: 15px;
        box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;

        min-width: 7rem;
        @include media-breakpoint-up(sm) {
            min-width: 9.3rem;
        }
        @include media-breakpoint-up(md) {
            min-width: 10rem;
            margin-left: 3rem;
            min-height: 18rem;
        }
    }

    .header_info {
        font-style: italic;
        @include media-breakpoint-up(md) {
            margin-left: 3rem;
        }
    }

    .fav-button {
        position: absolute;
        right: 1rem;
        top: 6rem;
    }
    .fav-button.bis {
        top: 7rem;
    }

    #fav-company {
        font-size: 1.7rem;
    }

    .logo {
        object-fit: contain;
        display: none;
        @include media-breakpoint-up(sm) {
            height: 6.25rem;
            width: 6.25rem;
            display: initial;
        }
        @include media-breakpoint-up(md) {
            height: 10rem;
            width: 10rem;
        }
    }

    .all_info {
        margin-left: 1rem;
        @include media-breakpoint-up(sm) {
            margin-left: 3rem;
        }
    }

    .h2-info {
        font-size: 1.5rem;
        color: $primary;
        @include media-breakpoint-up(sm) {
            font-size: 1.7rem;
        }
    }

    h1 {
        font-size: 1.5rem;
        @include media-breakpoint-up(md) {
            font-size: 2rem;
        }
    }

    .techno-name {
        overflow-wrap: break-word;
        width: 65px;
        margin-bottom: 0;
        @include media-breakpoint-up(sm) {
            width: 95px;
        }
        @include media-breakpoint-up(md) {
            width: 110px;
        }
    }
}
