// Fonts
@import url("https://fonts.googleapis.com/css2?family=Cantarell&family=Jost&family=Oxygen:wght@300&family=Roboto&family=Ubuntu:wght@300&display=swap");
/*
font-family:'Oxygen', sans-serif;
font-family:'Roboto', sans-serif;
font-family:'Ubuntu', sans-serif;*/


// customize some Bootstrap variables
$font-family-base:'Jost', sans-serif;
$primary: #c91961;
$secondary: #404040;
$light: #FFFAFA;
$purple: #851342;
$unreadMessage: #eaeaea;


//Variable d'espacement et taille
$navbarHeight: 4rem;
$navTextHeight:1rem;
$navBarWidth:17rem;


//Mixin
@mixin scrollBar {
    scrollbar-color: $primary $light;
    scrollbar-width: thin;
        &::-webkit-scrollbar {
        width: .5rem;
    }
    &::-webkit-scrollbar-thumb {
        background: $primary;
        border-radius: $border-radius;
    }
}
