{% extends 'base.html.twig' %}

{% block title %}Externatic - Oups

{% endblock %}

{% block body %}
    <div class="oups">

        <img src="{{ asset('build/images/oups.jpg') }}" alt="illustration page vide"/>
        <p>
            Oh ! Il semblerait qu'il n'y ait encore rien ici !
            <br>
            Complète les informations de ton profil pour les voir apparaître ici !
        </p>
    </div>

{% endblock %}



