{% extends 'base.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}

    <main class="candidatProfile container-md mb-3 px-lg-5">

        <h1 class="text-center mt-3">Profil de {{ user.firstname }}  {{ user.lastname }}</h1>

        <div class="cardsSection row">

            <div class="firstColumn col-md-6">
                <div class="candidatInfos mb-3">
                    {% include 'candidat/_accountCard.html.twig' %}
                </div>
                <div class="candidatCurriculum mb-3">
                    {% include 'candidat/_experiencesCard.html.twig' %}
                </div>
                <div class="candidatCurriculum mb-3">
                    {% include 'candidat/_certificationsCard.html.twig' %}
                </div>
            </div>

            <div class="secondColumn col-md-6">
                <div class="candidatInfos mb-3">
                    {% include 'candidat/_professionalCard.html.twig' %}
                </div>
                <div class="candidatCurriculum mb-3">
                    {% include 'candidat/_formationsCard.html.twig' %}
                </div>
                <div class="candidatCurriculum mb-3">
                    {% include 'candidat/_skillsCard.html.twig' %}
                </div>
                <div class="candidatCurriculum mb-3">
                    {% include 'candidat/_languagesCard.html.twig' %}
                </div>
                <div class="candidatCurriculum mb-3">
                    {%  include 'candidat/_hobbiesCard.html.twig' %}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <a href="{{ path('app_candidat_ask_delete') }}">Supprimer mon profil</a>
        </div>
    </main>



{% endblock %}
