{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <main class="candidatForm container-md">

        <h1>Informations personnelles</h1>

        {{ component('candidat_form', {
            candidat: app.user.candidat
        }) }}

        <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-primary" href="{{ path('app_candidat_profile') }}">Retour au profil</a>
        </div>

    </main>


{% endblock %}
