{% extends 'base.html.twig' %}

{% block title %}Mes entreprises{% endblock %}

{% block body %}

    <main class="container-md mb-5">
        <h1 class="text-center mt-3">Mes entreprises favorites</h1>

        <div class="row showCard">

            {% for company in app.user.candidat.favoriteCompanies %}

                <div class="col-sm-4">

                    {% include 'company/_companyCard.html.twig' %}

                </div>

            {% else %}
                <tr>
                    <td colspan="12">no records found</td>
                </tr>
            {% endfor %}

        </div>


    </main>



{% endblock %}



