{% extends 'base.html.twig' %}

{% block title %}Mes entreprises{% endblock %}

{% block body %}

    <main class="container-md mb-5">
        <h1 class="text-center mt-3" {{ stimulus_controller('favoritecompany') }}>Mes entreprises favorites</h1>

        <div class="row showCard">

            {% for company in app.user.candidat.favoriteCompanies %}

                <div class="col-md-6 col-lg-4">

                    {% include 'company/_companyCard.html.twig' %}

                </div>

            {% else %}
                <div class="oups">

                    <img src="{{ asset('build/images/oups.jpg') }}" alt="illustration page vide"/>
                    <p>
                        Oh ! Il semblerait qu'il n'y ait encore rien ici !
                        <br>
                        Mets des entreprises en favori et elles apparaîtront ici.
                    </p>
                </div>
            {% endfor %}

        </div>


    </main>



{% endblock %}



