{% extends 'base.html.twig' %}

{% block title %}Fiche Entreprise{% endblock %}

{% block body %}
    <main class="container-md mb-5">

        <h1 class="text-center" {{ stimulus_controller('favoritecompany') }}>Fiche Entreprise</h1>

        <div class="d-xl-flex align-items-xl-center">

            <div class="showCard unique">

                {% include 'company/_companyCard.html.twig' %}

            </div>

            {% if is_granted("ROLE_CANDIDAT") %}
                <div class="accordion container mb-5" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button d-inline text-center" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Candidature Spontanée
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                {% if is_granted("ROLE_CANDIDAT") %}
                                    {% if recruProcessActuel == null %}
                                        {{ form(form) }}
                                    {% else %}
                                        <p>Vous avez déjà un processus en cours</p>
                                    {% endif %}
                                {% elseif is_granted("ROLE_CONSULTANT") %}
                                    <p>Encart réservé aux candidats - <a href="{{ path('consultant_board') }}">Retourner
                                            à
                                            votre
                                            tableau de bord</a></p>
                                {% else %}
                                    <a href="{{ path('app_login') }}">Il faut vous connecter pour postuler !</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>


    </main>

{% endblock %}
