{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <main class="container messagerieIndex" >
        <div class="text-center m-4"><h1>Bienvenue sur votre messagerie</h1></div>
        <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="row">Date</th>
                <th scope="row">Expediteur</th>
                <th scope="row">Intitulé de l'annonce</th>
                <th scope="row">Contenu</th>
                <th scope="row"></th>
                <th scope="row"></th>
            </tr>
            </thead>

            <tbody id="swup" data-controller="inbox">
            {% for message in receivedMessages %}
                {% include('_include/_messageHeader.html.twig') %}
            {% endfor %}
        </table>
        </div>
        <div id="pageSelector" class="container d-flex justify-content-center">{{ knp_pagination_render(receivedMessages) }}</div>
    </main>
{% endblock %}
