{% extends 'base.html.twig' %}

{% block title %}Mettre à jour la formation{% endblock %}

{% block body %}
    <main class="candidatForm container-md">
        <h1>Mettre à jour la formation</h1>

        {{ include('experience/_formationForm.html.twig', {'button_label': 'Update'}) }}

    </main>
{% endblock %}
