{% extends 'base.html.twig' %}

{% block title %}Mettre à jour une Expérience{% endblock %}

{% block body %}
    <main class="candidatForm container-md">
        <h1>Mettre à jour l'expérience</h1>

        {{ include('experience/_experienceForm.html.twig', {'button_label': 'Update'}) }}

    </main>
{% endblock %}
