{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle formation{% endblock %}

{% block body %}

    <main class="candidatForm container-md">
        <h1>Ajouter une formation</h1>

        {{ component('formation_form', {
            pathInfo : app.request.pathInfo,
            experience : null
        }) }}

        <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-primary" href="{{ path('app_candidat_profile') }}#formationPanel">Retour au profil</a>
        </div>

    </main>


{% endblock %}
