{% extends 'base.html.twig' %}

{% block title %}Modifier la compétence{% endblock %}

{% block body %}
<main class="candidatForm container-md">
    <h1>Modifier la compétence</h1>

    {{ include('hard_skill/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="d-flex justify-content-center mt-3">
        <a class="btn btn-primary" href="{{ path('app_candidat_profile') }}#skillsPanel">Retour à la liste des compétences</a>
    </div>



</main>
{% endblock %}
