{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <main class="candidatForm container-md">

        <h1>Informations du compte</h1>

        {{ component('user_update', {
            user: user
        }) }}

        <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-primary" href="{{ path('app_candidat_profile') }}">Retour au profil</a>
        </div>

    </main>



{% endblock %}
